$colorAccentPrimary: #4fc2f7;
$colorAccentLight: #8bf5ff;
$colorAccentDark: #0092c4;

$vueDefaultText: #2c3e50;

$extraSmallMedia: 575.98px;
$smallMedia: 767.98px;
$mediumMedia: 991.98px;
$largeMedia: 1199.98px;
